In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

関数を使ってリストを作るときにrangeを使用する

In [8]:
name='yabuki'

In [10]:
len(name)

6

In [13]:
name.upper

In [14]:
メソット

NameError: name 'メソット' is not defined

（穴埋め）

In [12]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [15]:
address.split(',')

['Tokyo', 'Japan']

In [16]:
address.index('T')

0

０文字目から数える　Tはないから０

In [17]:
address.index('p')

8

In [18]:
address.index('o')

1

indexは（）の中の文字が左から何番目にあるのかを指定する意味である。

In [19]:
address.upper()

'TOKYO,JAPAN'

split:指定された文字で分割する
index:
upper:

In [21]:
address.lower()

'tokyo,japan'

文字列の大文字を小文字に変換する意味である。

In [ ]:
↓問37

In [22]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

指定した日時を引き算している。間の期間を示している。

In [30]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

In [31]:
date_b.year

2009

In [32]:
date_a.year

2008

name.upper()
括弧あり:何らかの処理をする
↑メゾット

date_a.year
括弧なし:データにアクセスするだけ
↑属性

オブジェクト
name.upper()+date_a.yearである。

In [45]:
date.today()

datetime.date(2017, 5, 17)

In [6]:
birthday=date(1997,6,17)

NameError: name 'date' is not defined

In [7]:
today=date.today()

NameError: name 'date' is not defined

In [56]:
result=today-birthday

In [57]:
print(result)

7274 days, 0:00:00

In [59]:
today.weekday()

2

In [60]:
date_a

datetime.date(2008, 1, 1)

In [62]:
date_a.weekday()

1

属性：year,dateなど

In [63]:
date_c=date(200,5,5)

In [64]:
tmp='2000,5,5'

In [66]:
tmp2=[2000,5,5]

dateに新たなオブジェクトがつくられる

In [67]:
from datetime import *
today = date.today()
birthday = date(2016, 5, 10)
life = today - birthday
print(life.days)

372

In [8]:
from datetime import *
today = date.today()
birthday = date(2016, 5, 10)
life = today - birthday
print(life.days)
from datetime improt *
today = date.today()
birthday = date(1997,6,17)
life = today - birthday
print(life.days)

SyntaxError: invalid syntax (<ipython-input-8-0c9a24d7a46b>, line 6)